.circlediv{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: lightblue;
    color: white;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50%;
    animation-name: circlerotate;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.images{
    width: 120px;
    height: 100px;
    position: absolute;
    animation-name: bike;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes circlerotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes bike{
    0% {
        transform: translateX(0px) rotateY(0deg);
    }
    50%{
        transform: translateX(780px) rotateY(0deg);
    }
    51% {
        transform: translateX(780px) rotateY(180deg);
    }
    99% {
        transform: translateX(0px) rotateY(180deg);
    }
    100% {
        transform: translateX(0px) rotateY(0deg);
    }
}

