body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.form {
    text-align: center;
    max-width: 400px; /* Adjust the maximum width based on your design */
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.icons{
    background-color: rgb(120, 225, 249);
    color: white;
    border: none;
    border-radius: 9px;
    padding: 5px 20px;
    margin: 9px;
}

.ranges {
    background-color: rgb(120, 225, 249);
    color: white;
    border: none;
    border-radius: 9px;
    padding: 0;
    margin: 10px;
}

.songs {
    width: 350px;
    padding: 10px 0;
    margin-bottom: 10px;
    background-color: rgb(120, 225, 249);
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}