#text {
    font-size: 60px;
}

#progress{
    appearance: none;
}

progress::-webkit-progress-bar{
    background-color: antiquewhite;
    box-shadow: 0 0 3px red inset;
    width: 100%;
    border-radius: 10%;
}

progress::-webkit-progress-value{
    background-color: green;
}